.bgcolor,.primary-button{
	background-color: #777;
	color: white;
}
.primary-button{
	text-align: center;
	padding: 4px 0px;
}
.left-header{
	text-align: left;
}
.title-m{
	font-size: 14px;
}
*{
	color: #222;
	font-size: arial;
}
button:active{
background-color:#524F4F;
}
.wrap-content{
	padding-bottom: 70px;
}
.flex-fix{
	 display: flex;
	 position: fixed;
	 z-index: 99;
}
body{
	padding-bottom: 45
}
.color-p{
	color: #777;
}